@model Agriculture_Presentation.Models.UserEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Profil Düzenleme Sayfası</h4>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label>Kullanıcı Adı</label>
                    <input type="text" class="form-control" placeholder="Kullanıcı Adı." asp-for="NameUser">
                </div>
                <div class="form-group">
                    <label>Mail Adresi</label>
                    <input type="text" class="form-control" placeholder="example@gmail.com" asp-for="Mail">
                </div>
                <div class="form-group">
                    <label>Telefon Numarası</label>
                    <input type="text" class="form-control" placeholder="Telefon Numarası" asp-for="Phone">
                </div>
                <div class="form-group">
                    <label>Şifre</label>
                    <input type="text" class="form-control" placeholder="yeni şifrenizi giriniz." asp-for="Password">
                </div>
                <div class="form-group">
                    <label>Şifre Tekrar</label>
                    <input type="text" class="form-control" placeholder="Şifrenizi tekrar giriniz!" asp-for="PasswordConfirm">
                </div>
                <button type="submit" class="btn btn-outline-primary me-2">Kaydet</button>

            </form>
        </div>
    </div>
</div>

